* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: #f4f4f4;
}

.navbar {
  background: #111827;
  color: white;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.products {
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 10px;

  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card button {
  margin-top: 10px;
  padding: 10px 15px;

  border: none;
  background: #f97316;
  color: white;
  border-radius: 5px;

  cursor: pointer;
}